<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="clientName" value="BambooMultipleServer" />
		<add key="clientVersion" value="1" />
		<add key="serverUrl" value="http://10.103.60.211:8099/" />
		<add key="upgradeSavePath" value="C://upgradeSavePath//multipleclient.exe" />
		<add key="upgradePath" value="C://upgradeSavePath//LenovoVantageTest" />
		<add key="runUpgradePath" value="E:\Auto\vantage-uwp-automation-bj\BambooMultipleServer\bin\Debug\UpgradeMultipleClient.exe" />
	</appSettings>
</configuration>