<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ClientStatus" value="0" />
    <add key="bind" value="false" />
    <add key="clientNo" value="" />
    <add key="upgradeUrl" value="" />
    <add key="clientId" value="" />
    <add key="deptId" value="" />
    <add key="jobVersion" value="0" />
    <add key="softwareVersion" value="0" />
    <add key="licenseCode" value="" />
    <add key="serverUrl" value="http://10.103.60.211:8099/" />
    <add key="deptName" value="" />
    <add key="OEMPictureName" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
	  <supportedRuntime version="v4.0"/>
	  <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>